/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

:root {
    --vp-c-default-1: var(--vp-c-gray-1);
    --vp-c-default-2: var(--vp-c-gray-2);
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-c-brand-1: #2463dd;
    --vp-c-brand-2: #1d1d1d;
    --vp-c-brand-3: #0a2252;
    --vp-c-brand-soft: #85a8ec;

    --vp-c-tip-1: var(--vp-c-brand-1);
    --vp-c-tip-2: var(--vp-c-brand-2);
    --vp-c-tip-3: var(--vp-c-brand-3);
    --vp-c-tip-soft: var(--vp-c-brand-soft);

    --vp-c-warning-1: var(--vp-c-yellow-1);
    --vp-c-warning-2: var(--vp-c-yellow-2);
    --vp-c-warning-3: var(--vp-c-yellow-3);
    --vp-c-warning-soft: var(--vp-c-yellow-soft);

    --vp-c-danger-1: var(--vp-c-red-1);
    --vp-c-danger-2: var(--vp-c-red-2);
    --vp-c-danger-3: var(--vp-c-red-3);
    --vp-c-danger-soft: var(--vp-c-red-soft);
}

.dark {
    --vp-c-brand-1: #8ba6e9;
    --vp-c-brand-2: #2463dd;
    --vp-c-brand-3: #2463dd;
    --vp-c-brand-soft: #85a8ec;
    --vp-c-gutter: #2e2f31;

    --vp-c-tip-1: var(--vp-c-brand-3);
    --vp-c-tip-2: var(--vp-c-brand-2);
    --vp-c-tip-3: var(--vp-c-brand-1);
    --vp-c-tip-soft: var(--vp-c-brand-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand-3);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        90deg,
        #2463dd 45%,
        #0a2252
    );

    --vp-home-hero-image-background-image: transparent;
    --vp-home-hero-image-filter: blur(44px);

    --vp-layout-max-width: 1600px;
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(68px);
    }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-tip-border: var(--vp-c-default-3);
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-custom-block-tip-bg: transparent;
    --vp-custom-block-tip-code-bg: var(--vp-c-default-soft);
}

.dark {
    --vp-custom-block-tip-border: var(--vp-c-default-3);
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-custom-block-tip-bg: transparent;
    --vp-custom-block-tip-code-bg: var(--vp-c-default-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.vp-doc {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7,
    h8 {
        code {
            font-size: 12px;
            font-weight: normal;
        }
    }

    .custom-block.details {
        padding: 0;
        margin: 0;
        background: transparent;
        summary {
            color: var(--vp-c-text-2);
            outline: none;
            font-size: 0.85em;
            font-weight: normal;
            margin: 0;
        }
    }

    .fn-title {
        margin-top: 2em;
        position: relative;

        & > h2,
        & > h3,
        & > h4,
        & > h5 {
            visibility: hidden;
            padding: 0;
            margin: 0;
            height: 10px;
        }

        .header-anchor {
            top: 13px;
        }

        &:hover {
            .header-anchor {
                opacity: 1;
            }
        }

        .language-nv {
            padding: 0;
            margin: 0;
            border-radius: 0;
            background: transparent;

            .copy,
            .lang {
                display: none;
            }
            pre {
                padding: 0;
                background: transparent;
                code {
                    font-size: 1em;
                    font-weight: 500;
                    padding: 0;
                    background: transparent;
                    word-break: break-word;
                    white-space: pre-wrap;
                }
            }
        }
    }
}

.VPSidebar {
    border-right: 1px solid var(--vp-c-gray-3);
}
